[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
overpy = "*"
googlemaps = "*"
haversine = "*"
simplejson = "*"


[dev-packages]
autopep8 = "*"

[requires]
